<h2>Make a new prehistoric creature:</h2>

<form method="POST" action="/prehistoric-creatures">
  <label for="pcType">Type: </label>
  <input id="pcType" type="text" name="type" />

  <label for="dinoImg">Image URL: </label>
  <input id="dinoImg" type="text" name="img_url" />

  <button type="submit">create creature</button>
</form>