<h2>Make a new Dino:</h2>

<form method="POST" action="/dinosaurs">
  <label for="dinoName">Name: </label>
  <input id="dinoName" type="text" name="name" />

  <label for="dinoType">Type: </label>
  <input id="dinoType" type="text" name="type" />

  <button type="submit">create dino</button>
</form>